.money-container {
    height: 25vh;
    background-color: #ed2553;
    border-radius: 0 0 100% 100%;
}

.money-digits {
    font-size: 3.325rem;
}

.options { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.add-money-button {
    background: none;
    outline: 0;
    cursor: pointer;    
    border: 2px solid #ed2553;
    color: #ed2553;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.3s ease;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

.add-money-button:hover {    
    background-color: #ed2553;
    color: white;
}

.add-form {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.no-scroll {
    /* Debe tener altura específica para que funcione */
    max-height: 100vh;
    overflow: hidden;
}
.out-icon {
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
}

.out-icon:hover {
    background-color: #d31f49;
}

.table-container {
    max-width: 90%;
    margin: 0 auto;
    max-height: 500px;
}